@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  width: 180px;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #eee;
  background-color: #fff;
  font-family: Inter;
  font-size: 16px;
  border-radius: 4px;
}

textarea {
  border: none;
  flex: 1;
  padding: 16px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 16px;
  background-color: #fff;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

::placeholder {
  color: #888;
}
